<section class="wrapper site-min-height">
    <!-- 页面地址栏  -->
    <div class="container-fluid">
        <div class="">
            <ul class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> 资料管理</a></li>
                <li>»</li>
                <li class="active">制度类列表</li>
            </ul>
        </div>
    </div>
    <div class="container-fluid head-add">
        <div class="add">
            <button  type="button" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> 添加</button>
            <button  type="button" class="btn btn-info"><i class="fa fa-upload" aria-hidden="true"></i> 导入</button>
        </div>
        <div class="search">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入">
                    </div>
                </div>
                <button type="submit"  class="btn btn-info">搜索</button>
            </form>
        </div>
    </div>
    <div class="law">
        <div class="title">制度列表类</div>
            <div class="Terms">
                <a target="page/data/table.html">
                    <h4>#保卫部条例</h4>
                    <div class="count">66</div>
                </a>
            </div>
        <div class="Terms">
            <a target="page/data/table.html">
                <h4>#保卫部工作规定</h4>
                <div class="count">55</div>
            </a>
        </div>
        <div class="Terms">
            <a target="page/data/table.html">
                <h4>#保卫部安全防范建设办法</h4>
                <div class="count">22</div>
            </a>
        </div>
        <div class="Terms">
            <a target="page/data/table.html">
                <h4>#保卫部人员编制细则</h4>
                <div class="count">11</div>
            </a>

        </div>
        <div class="Terms">
            <a target="page/data/table.html">
                <h4>#保卫部日常行为规范</h4>
                <div class="count">55</div>
            </a>
        </div>
        <div class="Terms">
            <a target="page/data/table.html">
                <h4>#保卫部治安处置规则</h4>
                <div class="count">88</div>
            </a>
        </div>
        <div class="Terms">
            <a target="page/data/table.html">
                <h4>#保卫部干事守则</h4>
                <div class="count">66</div>
            </a>
        </div>
    </div>
</section>
<script src="js/law.js"></script>
