<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge,chrome=1" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="msapplication-tap-highlight" content="no"><!--windows phone-->
    <meta name="renderer" content="webkit"><!--360极速模式-->
    <meta name="description" content=""><!--150-->
    <meta name="keywords" content=""/>
    <!-- ICON -->
    <link href="favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
    <link href="favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
    <link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_z6bs8mfg9h3t0529.css">
    <title>1605安防系统</title>
    <!-- CSS-->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/bootstrap/css/bootstrap-reset.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="fonts/iconfont/iconfont.css" rel="stylesheet">
    <link href="assets/animate/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <!--index-0-->
    <link href="css/index-0.css" rel="stylesheet">
    <![endif]-->
</head>
<body>
<!-- 页面 容器 -->
<section id="container">
    <header class="header white-bg">
        <!-- LOGO -->
        <div class="logo" style="line-height: 60px;">
            <img src="img/logo/logo.png" style="display: block;float: left;width: 45px;height: 45px;margin-top: 8px;">
            <a target="index00.html" class="logo-media " >军工企业保卫管理与防范识别处理系统</a>
        </div>
        <!-- 用户登陆信息 -->
        <div class="top-nav ">
            <ul class="nav pull-right top-menu">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="img/avatar1_small.jpg">
                        <span class="username">张吉</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu  logout">
                        <li class="log-arrow-up"></li><!-- 图标 -->
                        <li>
                            <a href="login.html">
                                <i class="fa fa-power-off"></i><!-- 图标 -->
                                注销/退出登陆
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--***** ***** 用户登陆信息 -->
        <!--进度、通知、提醒-->
        <nav class="nav notify-row notice" >
            <ul class="nav top-menu">
                <!-- 任务栏1 -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-tasks"></i><!-- 图标 -->
                        <span class="badge bg-success">6</span><!-- 条目提示 -->
                    </a>
                    <!-- 任务列表 -->
                    <ul class="dropdown-menu extended tasks-bar">
                        <li class="notify-arrow notify-arrow-blue"></li>
                        <li><p class="blue">您有6条待处理的任务</p></li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">任务1</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success set-40" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" >
                                        <span class="sr-only">40% 完成 (成功)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">任务2</div>
                                    <div class="percent"> 60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning set-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" >
                                        <span class="sr-only">60% 完成 (错误)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">任务3</div>
                                    <div class="percent">87%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info set-87" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" >
                                        <span class="sr-only">87% 完成</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">任务4</div>
                                    <div class="percent">33%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger set-33" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" >
                                        <span class="sr-only">33% 完成 (危险)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">任务5</div>
                                    <div class="percent">45%</div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar set-45" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" >
                        <span class="sr-only">
                          45% Complete
                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="external">
                            <a href="#">
                                显示全部任务
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- 任务栏2 -->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope-o"></i><!-- 图标 -->
                        <span class="badge bg-important">5</span><!-- 条目提示 -->
                    </a>

                    <!-- 信息/留言 列表 -->
                    <ul class="dropdown-menu extended inbox">
                        <li class="notify-arrow notify-arrow-blue"></li>
                        <li><p class="blue">您有5条提醒</p></li>
                        <li>
                            <a href="#">
                    <span class="photo">
                      <img alt="avatar" src="img/avatar-mini.jpg">
                    </span>
                                <span class="subject">
                      <span class="from">张三</span>
                      <span class="time">刚刚（5分钟内）</span>
                    </span>
                                <span class="message">
                      张三的信息/留言
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                    <span class="photo">
                      <img alt="avatar" src="img/avatar-mini2.jpg">
                    </span>
                                <span class="subject">
                      <span class="from">李四</span>
                      <span class="time">10分钟</span>
                    </span>
                                <span class="message">
                      李四的信息/留言
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                    <span class="photo">
                      <img alt="avatar" src="img/avatar-mini3.jpg">
                    </span>
                                <span class="subject">
                      <span class="from">王二</span>
                      <span class="time">3小时</span>
                    </span>
                                <span class="message">
                      王二的信息/留言
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                    <span class="photo">
                      <img alt="avatar" src="img/avatar-mini4.jpg">
                    </span>
                                <span class="subject">
                      <span class="from">刘一</span>
                      <span class="time">刚刚（5分钟内）</span>
                    </span>
                                <span class="message">
                      刘一的信息/留言
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                显示全部信息/留言
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- 任务栏3 -->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-bell-o"></i><!-- 图标 -->
                        <span class="badge bg-warning">7</span><!-- 条目提示 -->
                    </a>

                    <!-- 通知/警告 列表 -->
                    <ul class="dropdown-menu extended notification">
                        <li class="notify-arrow notify-arrow-blue">
                        </li>
                        <li><p class="blue">您有7条新的通知/警告</p></li>
                        <li>
                            <a href="#">
                    <span class="label label-danger">
                      <i class="fa fa-bolt"></i><!-- 图标 -->
                    </span>
                                <span class="subject">
                      <span class="small italic">3号服务器超载</span>
                      <span class="time">34分钟</span>
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                    <span class="label label-warning">
                      <i class="fa fa-bell"></i><!-- 图标 -->
                    </span>
                                <span class="subject">
                      <span class="small italic">10号服务器无响应</span>
                      <span class="time">1小时</span>
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                    <span class="label label-danger">
                      <i class="fa fa-bolt"></i><!-- 图标 -->
                    </span>
                                <span class="subject">
                      <span class="small italic">数据库超载</span>
                      <span class="time">4小时</span>
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                    <span class="label label-success">
                      <i class="fa fa-plus"></i><!-- 图标 -->
                    </span>
                                <span class="subject">
                      <span class="small italic">新用户注册</span>
                      <span class="time">刚刚（5分钟内）</span>
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                    <span class="label label-primary">
                      <i class="fa fa-bullhorn"><!-- 图标 -->
                      </i>
                    </span>
                                <span class="subject">
                      <span class="small italic">应用报错</span>
                      <span class="time">10分钟</span>
                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                显示全部通知/警告
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav><!--***** ***** 顶部导航 -->
    </header><!--***** ***** ***** ****+* 顶部 -->
            <!-- 主体内容 *****************************************************************************-->
                <!-- 包裹  -->
    <section class="wrapper index-bg" >
        <!-- 页面地址栏  -->
        <div class="container w-145">
            <div class="row">
                <div class="col-md-3 large-frame green-color">
                    <a class="animated fadeIn" href="page/headNav/defend.html" title="保卫体系">
                        <i class="fa fa-star fa-2x"></i>
                        <img class="icon-img" src="img/index-0/a.png">
                        <p class="large-title ">————保卫体系</p>
                    </a>
                </div>
                <div class="col-md-1 little-frame ">
                    <a class="animated fadeInLeft green-color" href="page/headNav/defend.html?id=MB" title="目标管理">
                        <i class="iconfont icon-mubiao"></i>
                        <p class="little-title">目标管理</p>
                    </a>
                </div>
                <div class="col-md-1 little-frame " >
                    <a class="animated fadeInLeft green-color" href="page/headNav/defend.html?id=SCH" title="审查审批">
                        <i class="iconfont icon-shenchazhong"></i>
                        <p class="little-title">审查审批</p>
                    </a>

                </div>
                <div class="col-md-1 little-frame " >
                    <a class="animated fadeInLeft green-color" href="page/headNav/defend.html?id=DA" title="问题上报">
                        <i class="iconfont icon-dangan"></i>
                        <p class="little-title">问题上报</p>
                    </a>
                </div>
                <div class="col-md-3 large-frame blue-color" >
                    <a class="animated fadeIn" href="page/headNav/safeGuard.html" title="安全防范">
                        <i class="fa fa-star fa-2x"></i>
                        <img class="icon-img" src="img/index-0/b.png">
                        <p class="large-title ">————安全防范</p>
                    </a>
                </div>
                <div class="col-md-1 little-frame " id="TZ">
                    <a class="animated fadeInLeft blue-color" href="page/headNav/safeGuard.html?id=TZ" title="台账管理">
                        <i class="iconfont icon-money"></i>
                        <p class="little-title">台账管理</p>
                    </a>
                </div>
                <div class="col-md-1 little-frame " >
                    <a class="animated fadeInLeft blue-color" href="page/headNav/safeGuard.html?id=WL" title="物理防范">
                        <i class="iconfont icon-wuli1"></i>
                        <p class="little-title">物理防范</p>
                    </a>
                </div>
                <div class="col-md-1 little-frame " >
                    <a class="animated fadeInLeft blue-color" href="page/headNav/safeGuard.html?id=RL" title="人力防范">
                        <i class="iconfont icon-renlishichang"></i>
                        <p class="little-title">人力防范</p>
                    </a>
                </div>
                <div class="col-md-3 large-frame red-color" >
                    <a class="animated fadeIn" href="page/headNav/workGuide.html" title="业务指导">
                        <i class="fa fa-star fa-2x"></i>
                        <img class="icon-img" src="img/index-0/e.png">
                        <p class="large-title ">————业务指导</p>
                    </a>
                </div>
                <div class="col-md-3 large-frame orange-color" >
                    <a class="animated fadeIn" href="page/headNav/produceDefend.html" title="生产保卫">
                        <i class="fa fa-star fa-2x"></i>
                        <img class="icon-img" src="img/index-0/c.png">
                        <p class="large-title ">————生产保卫</p>
                    </a>

                </div>
                <div class="col-md-1 little-frame  " >
                    <a class="animated fadeInLeft orange-color" href="page/headNav/produceDefend.html?id=XC" title="现场监控检查">
                        <i class="iconfont icon-jiankong"></i>
                        <p class="little-title">现场监控检查</p>
                    </a>

                </div>
                <div class="col-md-1 little-frame " >
                    <a class="animated fadeInLeft orange-color" href="page/headNav/produceDefend.html?id=AS" title="案事件管理">
                        <i class="iconfont icon-dangan"></i>
                        <p class="little-title">案事件管理</p>
                    </a>
                </div>
                <div class="col-md-3 large-frame bu-color" >
                    <a class="animated fadeIn" href="page/headNav/produceDefend.html" title="应急管理">
                        <i class="fa fa-star fa-2x"></i>
                        <img class="icon-img" src="img/index-0/d.png">
                        <p class="large-title ">————应急管理</p>
                    </a>

                </div>
                <div class="col-md-3 large-frame ye-color" >
                    <a class="animated fadeIn" href="page/headNav/riskAssessment.html" title="风险评估">
                        <i class="fa fa-star fa-2x"></i>
                        <img class="icon-img" src="img/index-0/f.png">
                        <p class="large-title ">————风险评估</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</section><!--***** ***** ***** ***** 主体内容 -->
    <!-- 页脚 *****************************************************************************-->
    <footer class="site-footer" >
        <div style="float: left;height: 40px;line-height: 40px;margin-left: 15px;">版本: 1.0</div>
        <div class="setting">
            成都飞机工业（集团）有限责任公司
        </div>
    </footer><!--***** ***** ***** ***** 页脚 -->

<!-- JS -->
<script src="assets/jquery/jquery-3.2.1.min.js" ></script><!-- jQuery -->
<script src="assets/bootstrap/js/bootstrap.min.js" ></script><!-- Bootstrap  -->
<script src="assets/jquery/jquery.dcjqaccordion.2.7.js"></script><!-- 手风琴导航 -->
<script src="assets/respond.min.js" ></script><!-- 支持IE  -->
<script src="js/iframeDiv.js"></script>
<script src="js/common-scripts.js" ></script><!-- 初始化插件  -->
<script>
    $(function() {
        var $assetTable = $('#homeTable');
        $assetTable.bootstrapTable({
            height : 380,
            pagination : false,
            search: false,
            showColumns: false,
            showRefresh: false,//显示刷新按钮
            showToggle: false,//名片格式
            showQuery: false
        });

    });
</script>
</body>
</html>