<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content = "IE=edge,chrome=1" />
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta name="msapplication-tap-highlight" content="no"><!--windows phone-->
  <meta name="renderer" content="webkit"><!--360极速模式-->
  <meta name="description" content=""><!--150-->
  <meta name="keywords" content=""/>
  <!-- ICON -->
  <link href="favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
  <link href="favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
  <link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_z6bs8mfg9h3t0529.css">
  <title>1605安防系统</title>
  <!-- CSS-->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/bootstrap/css/bootstrap-reset.css" rel="stylesheet">
  <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
  <link href="css/base.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <!--index-0-->
  <link href="css/index-0.css" rel="stylesheet">
  <![endif]-->
  </head>
  <body class="index-bg" >
  <section id="container">
    <header class="header white-bg">
      <!-- LOGO -->
      <div class="logo" style="line-height: 60px;">
        <img src="img/logo/logo.png" style="display: block;float: left;width: 45px;height: 45px;margin-top: 8px;">
        <a target="index00.html" class="logo-media " >军工企业保卫管理与防范识别处理系统</a>
      </div>
      <!-- 顶部导航 -->
      <!-- <nav class="nav notify-row" style="margin: 0 0 0 4%;">
           <ul class="nav nav-pills head-nav">
               <li role="presentation" class="active">
                   <a href="index.html"><i class="iconfont icon-shouye-copy "></i><p>首页</p></a>
               </li>
               <li role="presentation">
                   <a href="page/headNav/defend.html"><i class="iconfont icon-baoweichu"></i><p>保卫体系</p></a>
               </li>
               <li role="presentation">
                   <a href="page/headNav/safeGuard.html"><i class="iconfont icon-anquan"></i><p>安全防范</p> </a>
               </li>
               <li role="presentation">
                   <a href="page/headNav/produceDefend.html"><i class="iconfont icon-guanli-"></i><p>生产保卫</p></a>
               </li>
               <li role="presentation">
                   <a href="page/headNav/produceDefend.html"><i class="iconfont icon-yingjiguanli"></i><p>应急管理</p></a>
               </li>
               <li role="presentation">
                   <a href="page/headNav/workGuide.html"> <i class="iconfont icon-yewu1"></i><p>业务指导</p></a>
               </li>
               <li role="presentation">
                   <a href="page/headNav/riskAssessment.html"> <i class="iconfont icon-fengxiantishi"></i><p>风险评估</p></a>
               </li>
           </ul>
       </nav>-->
      <!-- 用户登陆信息 -->
      <!--<div class="top-nav ">
        <ul class="nav pull-right top-menu">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <img alt="" src="img/avatar1_small.jpg"><span class="username">张吉</span><b class="caret"></b>
            </a>

            <ul class="dropdown-menu extended logout">
              <li class="log-arrow-up"></li>&lt;!&ndash; 图标 &ndash;&gt;
              <li><a href="#"><i class=" fa fa-suitcase"></i>个人信息</a></li>
              <li> <a href="#"><i class="fa fa-cog"></i>个人设置</a></li>
              <li><a href="#"> <i class="fa fa-bell-o"></i>个人通知</a></li>
              <li> <a href="/page/login/login.html"><i class="fa fa-key"></i>注销/退出登陆</a></li>
            </ul>
          </li>
        </ul>
      </div>--><!--***** ***** 用户登陆信息 -->
      <!--进度、通知、提醒-->
     <!-- <nav class="nav notify-row notice" >
        <ul class="nav top-menu">
          &lt;!&ndash; 任务栏1 &ndash;&gt;
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-tasks"></i><span class="badge bg-success">6</span>
            </a>
            &lt;!&ndash; 任务列表 &ndash;&gt;
            <ul class="dropdown-menu extended tasks-bar">
              <li class="notify-arrow notify-arrow-blue"></li>
              <li><p class="blue">您有6条待处理的任务</p></li>
              <li>
                <a href="#">
                  <div class="task-info">
                    <div class="desc">任务1</div>
                    <div class="percent">40%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success set-40" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" >
                      <span class="sr-only">40% 完成 (成功)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="task-info">
                    <div class="desc">任务2</div>
                    <div class="percent"> 60%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning set-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" >
                      <span class="sr-only">60% 完成 (错误)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="task-info">
                    <div class="desc">任务3</div>
                    <div class="percent">87%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info set-87" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" >
                      <span class="sr-only">87% 完成</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="task-info">
                    <div class="desc">任务4</div>
                    <div class="percent">33%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger set-33" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" >
                      <span class="sr-only">33% 完成 (危险)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="task-info">
                    <div class="desc">任务5</div>
                    <div class="percent">45%</div>
                  </div>
                  <div class="progress progress-striped active">
                    <div class="progress-bar set-45" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" >
                        <span class="sr-only">
                          45% Complete
                        </span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="external">
                <a href="#">
                  显示全部任务
                </a>
              </li>
            </ul>
          </li>
          &lt;!&ndash; 任务栏2 &ndash;&gt;
          <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-envelope-o"></i><span class="badge bg-important">5</span>&lt;!&ndash; 条目提示 &ndash;&gt;
            </a>

            &lt;!&ndash; 信息/留言 列表 &ndash;&gt;
            <ul class="dropdown-menu extended inbox">
              <li class="notify-arrow notify-arrow-blue"></li>
              <li><p class="blue">您有5条未读信息/留言</p></li>
              <li>
                <a href="#">
                    <span class="photo">
                      <img alt="avatar" src="img/avatar-mini.jpg">
                    </span>
                  <span class="subject">
                      <span class="from">张三</span>
                      <span class="time">刚刚（5分钟内）</span>
                    </span>
                  <span class="message">
                      张三的信息/留言
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                    <span class="photo">
                      <img alt="avatar" src="img/avatar-mini2.jpg">
                    </span>
                  <span class="subject">
                      <span class="from">李四</span>
                      <span class="time">10分钟</span>
                    </span>
                  <span class="message">
                      李四的信息/留言
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                    <span class="photo">
                      <img alt="avatar" src="img/avatar-mini3.jpg">
                    </span>
                  <span class="subject">
                      <span class="from">王二</span>
                      <span class="time">3小时</span>
                    </span>
                  <span class="message">
                      王二的信息/留言
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                    <span class="photo">
                      <img alt="avatar" src="img/avatar-mini4.jpg">
                    </span>
                  <span class="subject">
                      <span class="from">刘一</span>
                      <span class="time">刚刚（5分钟内）</span>
                    </span>
                  <span class="message">
                      刘一的信息/留言
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                  显示全部信息/留言
                </a>
              </li>
            </ul>
          </li>

          &lt;!&ndash; 任务栏3 &ndash;&gt;
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-bell-o"></i>&lt;!&ndash; 图标 &ndash;&gt;
              <span class="badge bg-warning">7</span>&lt;!&ndash; 条目提示 &ndash;&gt;
            </a>

            &lt;!&ndash; 通知/警告 列表 &ndash;&gt;
            <ul class="dropdown-menu extended notification">
              <li class="notify-arrow notify-arrow-blue">
              </li>
              <li><p class="blue">您有7条新的通知/警告</p></li>
              <li>
                <a href="#">
                    <span class="label label-danger">
                      <i class="fa fa-bolt"></i>&lt;!&ndash; 图标 &ndash;&gt;
                    </span>
                  <span class="subject">
                      <span class="small italic">3号服务器超载</span>
                      <span class="time">34分钟</span>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                    <span class="label label-warning">
                      <i class="fa fa-bell"></i>&lt;!&ndash; 图标 &ndash;&gt;
                    </span>
                  <span class="subject">
                      <span class="small italic">10号服务器无响应</span>
                      <span class="time">1小时</span>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                    <span class="label label-danger">
                      <i class="fa fa-bolt"></i>&lt;!&ndash; 图标 &ndash;&gt;
                    </span>
                  <span class="subject">
                      <span class="small italic">数据库超载</span>
                      <span class="time">4小时</span>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                    <span class="label label-success">
                      <i class="fa fa-plus"></i>&lt;!&ndash; 图标 &ndash;&gt;
                    </span>
                  <span class="subject">
                      <span class="small italic">新用户注册</span>
                      <span class="time">刚刚（5分钟内）</span>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                    <span class="label label-primary">
                      <i class="fa fa-bullhorn">&lt;!&ndash; 图标 &ndash;&gt;
                      </i>
                    </span>
                  <span class="subject">
                      <span class="small italic">应用报错</span>
                      <span class="time">10分钟</span>
                    </span>
                </a>
              </li>
              <li>
                <a href="#">
                  显示全部通知/警告
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>--><!--***** ***** 顶部导航 -->
    </header><!--***** ***** ***** ****+* 顶部 -->
    <!-- 页面 容器 -->
    <section class="wrapper site-min-height index-bg" >
      <div class="container login-name">

        <form action="">
          <h2 class="login-name-heading">
            请登录
            <!--<img src="img/logo/logo.png" style="width: 45px;height: 45px; margin-right: 5px">军工企业保卫管理与防范识别处理系统-->
          </h2>
          <div class="form-group" >
            <label  class="login-label" >用户名:</label>
            <input type="text" class="form-control login-input"  id="name" onfocus="xfjianpan(this.id)" value="用户名">
          </div>
          <div class="form-group mt-20"  >
            <label  class="login-label" >密 码:</label>
            <input type="password" class="form-control login-input"  id="password" onfocus="xfjianpan(this.id)" >
          </div>
          <div class="form-group text-right  login" >
            <button class="btn btn-primary " type="submit">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
          </div>
        </form>
      </div>
      <!--键盘1-->
      <div id="jianpan">
        <div class="title" style="text-align:center;"><span id="jptitle"></span><span class="jianpan_hide" onclick="xfjianpan(false)">×</span></div>
        <div id="xfjp" class="jianpan" >
          <ul>
            <li >~</li>
            <li>!</li>
            <li>@</li>
            <li>#</li>
            <li>$</li>
            <li>%</li>
            <li>^</li>
            <li>&amp;</li>
            <li>*</li>
            <li>(</li>
            <li>)</li>
            <li>_</li>
            <li>+</li>
            <li>=</li>
          </ul>
          <ul >
            <li >1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li colspan="2" id="qinkong">清空</li>
          </ul>
          <ul>
            <li>q</li>
            <li>w</li>
            <li>e</li>
            <li>r</li>
            <li>t</li>
            <li>y</li>
            <li>u</li>
            <li>i</li>
            <li>o</li>
            <li>p</li>
            <li>[</li>
            <li>]</li>
          </ul>
          <ul>
            <li>a</li>
            <li>s</li>
            <li>d</li>
            <li>f</li>
            <li>g</li>
            <li>h</li>
            <li>j</li>
            <li>k</li>
            <li>l</li>
            <li>空格</li>
          </ul>
          <ul>
            <li id="shift">shift</li>
            <li>z</li>
            <li>x</li>
            <li>c</li>
            <li>v</li>
            <li>b</li>
            <li>n</li>
            <li>m</li>
          </ul>
        </div>
      </div>

    </section>
  </section>
  <!-- 页脚 *****************************************************************************-->
  <footer class="site-footer" >
    <div style="float: left;height: 40px;line-height: 40px;margin-left: 15px;">版本: 1.0</div>
    <div class="setting">
      成都飞机工业（集团）有限责任公司
    </div>
  </footer><!--***** ***** ***** ***** 页脚 -->

    <!-- JS -->
    <script src="assets/jquery/jquery-3.2.1.min.js" ></script><!-- jQuery -->
    <script src="assets/bootstrap/js/bootstrap.min.js" ></script><!-- Bootstrap  -->
    <script src="softkeys-0.0.1.js"></script>
  </body>



<script>
    //键盘部分JS
    $("#jianpan .title").css("line-height",$("#jianpan").height()/5+"px");
    function xfjianpan(id) {
        //xfjianpan(id),当id为input的id，如果id==false时，键盘隐藏

        var jpnub = $("#xfjp li").length;

        move("jianpan");        //开启键盘可移动

        $("#xfjp li").unbind("click");

        if (id != false) {
            $("#jianpan").show();
            var xfjp_text = $("#"+id).val();                        //获取input框当前的val值


            $(".input_on").removeClass("input_on");
            $("#"+id).addClass("input_on");                         //设置input框选中时的样式

            $("#jptitle").html($("#"+id).attr("placeholder"));      //键盘标题，自动获取input的placeholder值

            $("#xfjp li").click(function () {
                var click = $(this).html();                         //获取点击按键的内容

                //特殊按键在这添加事件
                //判断点击的按键是否有特殊事件，如果没有则按键内容加在input文本后面
                if (click == "清空") {
                    xfjp_text = "";
                    $("#"+id).val(xfjp_text);
                }else if(click == "shift"){
                    for(i=0;i<jpnub;i++){
                        $("#xfjp li:eq("+i+")").html($("#xfjp li:eq("+i+")").html().toUpperCase());
                    }
                }else if(click == "SHIFT"){
                    for(i=0;i<jpnub;i++){
                        $("#xfjp li:eq("+i+")").html($("#xfjp li:eq("+i+")").html().toLowerCase());
                    }
                }else if(click == "空格"){
                    xfjp_text = xfjp_text + " ";
                    $("#"+id).val(xfjp_text);
                }else {
                    xfjp_text = xfjp_text + click;
                    $("#"+id).val(xfjp_text);
                }

                $("#"+id).focus();
            })
        }else{
            $(".input_on").removeClass("input_on");                    //移除选中input的选中样式
            $("#jianpan").hide();
        }
    }




    //鼠标按住拖动部分JS
    function unmove(obj){
        $("#" + obj + " .title").unbind("mousedown");
    }
    function move(obj){
        var OffsetX = 0;
        var OffsetY = 0;
        var moveKg = false;
        var csZ = 0;
        function d(id) {
            return document.getElementById(id);
        }
        $("#"+obj+" .title").bind("mousedown", function () {
            OffsetX = event.pageX - d(obj).offsetLeft;
            OffsetY = event.pageY - d(obj).offsetTop;
            csZ = $("#"+obj).css("z-index");
            $("#"+obj).css("z-index","9999");
            moveKg = true;
            jpyd();
        })
        function jpyd() {
            $(document).bind("mousemove", function () {
                var e = e || window.event;
                var mouswX = e.pageX;
                var mouswY = e.pageY;
                var moveX = mouswX - OffsetX;
                var moveY = mouswY - OffsetY;
                var maxX = $(window).width() - d(obj).offsetWidth;
                var maxY = $(window).height() - d(obj).offsetHeight;
                moveX=Math.min(maxX,Math.max(0,moveX));
                moveY=Math.min(maxY,Math.max(0,moveY));
                $("#"+obj).css({"left":moveX,"top":moveY});
            })
            $(document).bind("mouseup", function () {
                moveKg = false;
                $("#"+obj).css("z-index",csZ);
                $(document).unbind("mousemove mouseup");
            })
        }
    }
</script>




</html>

